<h2>Anime List</h2>
<p>The Anime List provides a consolidated view of all the anime present on the list of a user.</p>

<ul>
    <li><code>statistics</code>: An object containing statistics for the items on the user's list
        <ul>
            <li><code>days</code>: A floating point decimal number representing the number of days spent watching anime.</li>
        </ul>
    </li>
    <li><code>anime</code>: A list of <a href="#anime">anime</a> objects.</li>
</ul>
