<h2>Cast Details</h2>
<p>This is an object that defines a character or staff member. It consists of the following properties.</p>
<p class="alert alert-info">Not all properties are provided depending on the type of request made.</p>

<ul>
    <li><code>id</code>: The character or staff member id.</li>
    <li><code>name</code>: The character or staff member name.</li>
    <li><code>role</code>: The character role in the story.</li>
    <li><code>image</code>: The character or staff member image URL.</li>
    <li><code>rank</code>: The staff member influence in the team.</li>
    <li><code>actors</code>: The list of all voice actors which will contain the objects (listed below).</li>
    <ul>
        <li><code>id</code>: The voice actor id.</li>
        <li><code>name</code>: The voice actor name.</li>
        <li><code>image</code>: The image URL of the voice actor.</li>
        <li><code>language</code>: The language of the voice actor.</li>
    </ul>
</ul>
