<h2>Episode Details</h2>
<p>This is an object that defines a episode. It consists of the following properties.</p>

<ul>
    <li><code>number</code>: An anrray of the objects below.</li>
    <li><code>title</code>: The title of the item</li>
    <li><code>other_titles</code>
        <ul>
            <li><code>english</code>: The title in English.</li>
            <li><code>Japanese</code>: The title in Japanese.</li>
        </ul>
    </li>
    <li><code>air_date</code>: The date of when the anime started airing. Formatted as an ISO 8601 date<sup><a href="#foot2">2</a></sup></li>
</ul>
