<h2>History Details</h2>
<p>This is an object that defines a history item. It consists of the following properties.</p>
<p class="alert alert-info">Not all properties are provided depending on the type of request made.</p>

<ul>
    <li><code>item</code>: An <a href="#anime">anime model</a>.</li>
    <li><code>time_updated</code>: The time when the change was applied. This may be either a relative time (&quot;1 hour ago&quot;, &quot;now&quot;) or a date formatted as &quot;m-d-y, g:i A&quot;<sup><a href="#foot1">1</a></sup></li>
    <li><code>type</code>: The type of this item. This will return &quot;anime&quot; or &quot;manga&quot;.</li>
</ul>
