<h2>Recommendations Details</h2>
<p>This is an object that defines a recommendation. It consists of the following properties.</p>

<ul>
    <li><code>item</code>: An <a href="#anime">anime model</a>.</li>
    <li><code>recommendations</code>: An anrray of the objects below.</li>
    <ul>
        <li><code>information</code>: An string which contains the recommendation text.</li>
        <li><code>username</code>: The username of the user who made the recommendation.</li>
    </ul>
</ul>
