<h2>Review Details</h2>
<p>This is an object that defines a review. It consists of the following properties.</p>
<p class="alert alert-info">Not all properties are provided depending on the type of request made.</p>

<ul>
    <li><code>date</code>: The creation date of the review. This may be either a relative time (&quot;1 hour ago&quot;, &quot;now&quot;) or a date formatted as &quot;Y-m-d&quot;<sup><a href="#foot1">1</a></sup></li>
    <li><code>rating</code>: The rating given by the review writer.</li>
    <li><code>username</code>: The username of the review writer.</li>
    <li><code>episodes</code>: The number of the max episodes.</li>
    <li><code>watched_episodes</code>: The number of watched episodes by the review writer.</li>
    <li><code>chapters</code>: The number of the max chapters.</li>
    <li><code>chapters_read</code>: The the number of read chapters of the review writer.</li>
    <li><code>helpful</code>: The number of users who marked this review helpful.</li>
    <li><span class="label label-default">DEPRECATED</span> <code>helpful_total</code>: The number of users who voted for helpful and not helpful.</li>
    <li><code>avatar_url</code>: The avatar URL of the review writer.</li>
    <li><code>review</code>: The review content.</li>
</ul>
