Options +FollowSymlinks
    RewriteEngine On
	# Popular
	RewriteRule		^popular/anime/(.*)$ popular/anime.php?p=$1 [L]
	RewriteRule		^popular/manga/(.*)$ popular/manga.php?p=$1 [L]
	# Top
	RewriteRule		^top/anime/(.*)$ top/anime.php?p=$1 [L]
	RewriteRule		^top/manga/(.*)$ top/manga.php?p=$1 [L]
	# Upcoming
	RewriteRule		^upcoming/anime/(.*)$ upcoming/anime.php?p=$1 [L]
	RewriteRule		^upcoming/manga/(.*)$ upcoming/manga.php?p=$1 [L]
	# Just Added
	RewriteRule		^justadded/anime/(.*)$ justadded/anime.php?p=$1 [L]
	RewriteRule		^justadded/manga/(.*)$ justadded/manga.php?p=$1 [L]
	# User
	RewriteRule		^user/friends/(.*)$ user/friends.php?p=$1 [L]

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:yMaBuN
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE yMaBuN:ERRORPAGEID