parameters:
    atarashii_api.comm.class: Atarashii\APIBundle\Service\Communicator
    atarashii_api.comm.user_agent: Atarashii
    atarashii_api.comm.base_url: http://myanimelist.net

services:
    atarashii_api.communicator:
        class: %atarashii_api.comm.class%
        arguments: [%atarashii_api.comm.base_url%, %atarashii_api.comm.user_agent%]