parameters:
    atarashii_api.comm.class: Atarashii\APIBundle\Service\Communicator
    atarashii_api.comm.base_url: https://myanimelist.net

services:
    atarashii_api.communicator:
        class: %atarashii_api.comm.class%
        arguments: [%atarashii_api.comm.base_url%, %api_user_agent%]
