# This file is a "template" of what your parameters.yml file should look like
parameters:
    locale: en
    secret: SetMe
    api_user_agent: Custom API UA (See http://myanimelist.net/forum/?topicid=692311)
    unit_testing:
        username: CHANGEME
        password: CHANGEME
        test_mal: false
