# This file is a "template" of what your parameters.yml file should look like
parameters:
    locale: en
    secret: SetMe
    api_user_agent: Atarashii API
    unit_testing:
        username: CHANGEME
        password: CHANGEME
        message_id: 123456
        test_mal: false
