{%  include "AtarashiiAPIBundle:includes:server-specific.html.twig" ignore missing %}

        </div> <!-- /container -->

        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>