{% set pageTitle = "Home" %}
{% include "AtarashiiAPIBundle:includes:header.html.twig" %}

<h1>Atarashii MAL API</h1>
<p>This is an unofficial API for <a href="http://myanimelist.net/">MyAnimeList</a>, a popular site for managing anime you are watching and manga you are reading.</p>

<p>This API is intended to act as an enhancement to the <a href="http://myanimelist.net/modules.php?go=api">official API</a> that's offered. In fact, this API uses the official API for communication in as many places as possible. It goes beyond this however, in offering missing features like anime and manga details and access to top/popular/recent anime and manga lists on the site. Additionally, it uses JSON for data output.</p>

<p>The code for this service is licensed under the Apache Public License 2.0 and you can <a href="https://bitbucket.org/ratan12/atarashii-api">download it on BitBucket</a>.</p>

{% include "AtarashiiAPIBundle:includes:footer.html.twig" %}