{% set pageTitle = "Docs - User and Account Methods" %}
{% include "AtarashiiAPIBundle:includes:header.html.twig" %}

<div class="row">
    <div class="col-md-9">
        <h1>User and Account Methods</h1>
        <p>All the below methods deal with handling account and user data.</p>

        <h2>User Profile</h2>
        <dl>
            <dt>URI Format</dt><dd>profile/<em>username</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Retrieves a user's profile. Output is a <a href="{{ path('_docs2_responses') }}#user">user details object</a>.</p>

        <h2>Friends</h2>
        <dl>
            <dt>URI Format</dt><dd>friends/<em>username</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Retrieves the friendlist of the specified user. Output is a <a href="{{ path('_docs2_responses') }}#friend">friend details object</a>.</p>

        <h2>History</h2>
        <dl>
            <dt>URI Format</dt><dd>history/<em>username</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>No</dd>
        </dl>
        <p>Retrieves the historylist of the specified user. Output is a list of <a href="{{ path('_docs2_responses') }}#history">history objects</a>.</p>

        <h2>History (specific)</h2>
        <dl>
            <dt>URI Format</dt>
                <dd><span class="label label-success">API 2.1+</span> anime/history/<em>id</em></dd>
                <dd><span class="label label-success">API 2.1+</span> manga/history/<em>id</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>Yes</dd>
        </dl>
        <p>Retrieves the historylist of the specified anime and user. Output is a list of <a href="{{ path('_docs2_responses') }}#history">history objects</a>.</p>

        <h2>Login Verification</h2>
        <dl>
            <dt>URI Format</dt><dd>account/<em>verify_credentials</em></dd>
            <dt>Method</dt><dd>GET</dd>
            <dt>Authentication</dt><dd>Yes</dd>
        </dl>
        <p>Tests login via credentials passed via HTTP Basic Authentication. Returns a 200 status code if the login was accepted by MyAnimeList, otherwise returns a 401 error code.</p>

        <hr>

        <p>Footnotes</p>
        <ol>
            <li><a name="foot1"></a>Although authentication is not required, additional information such as list status details can be provided if authentication is made.</li>
        </ol>
    </div>
</div>

{% include "AtarashiiAPIBundle:includes:footer.html.twig" %}