{% set pageTitle = "Docs" %}
{% include "AtarashiiAPIBundle:includes:header.html.twig" %}

<h1>API Documentation</h1>
<p>The MyAnimeList Unofficial API allows developers to interact with the <a href="http://myanimelist.net/">MyAnimeList</a> site programmatically via HTTP requests. It tries to remain as close to REST principles as possible.</p>

<p>Version 1.0 of the API was designed to be a drop-in replacement for the Unofficial MyAnimeList API created by Cheah Chu Yeow and newer versions have added additional support and cleaned up the output. When developing a new application that will use the API, it is recommended to target the highest API version available, even if you will not use all the functionality supported. This strategy offers the best compatibility and easy room for expansion of features.</p>

<p>To begin using the API, select an area from the documentation menu and explore the functionality offered.</p>

{% include "AtarashiiAPIBundle:includes:footer.html.twig" %}
