{% set pageTitle = "Docs" %}
{% include "AtarashiiAPIBundle:includes:header.html.twig" %}

<h1>API Documentation</h1>
<p>The MyAnimeList Unofficial API allows developers to interact with the <a href="http://myanimelist.net/">MyAnimeList</a> site programmatically via HTTP requests. It tries to remain as close to REST principles as possible.</p>

<p>Documentation is ongoing, sections will be added as they are completed.</p>

<h2>Sections</h2>
<ul>
    <li><a href="{{ path('_docs_responses') }}">Data Formats</a></li>
</ul>

{% include "AtarashiiAPIBundle:includes:footer.html.twig" %}